.left-view {
    width: 50%;
    color: white;
    float: left;
    height: 100%;
    position: fixed;
    left: 0px;
    
    background: url("../img/apply/leftView.png");
}

form {
    width: 50%;
    color: gray;
    float: right;
    position: fixed;
    right: 0px;
    height: 100%;
    background: url("../img/apply/rightView.png");
}

.applyf {
    border: none;
    border-bottom: 1px solid #c9ccd2;
    background-color: #EDECED;
    width: 100%
}

.applyf.name {
    width: 50%;
}

body {
    background-color: white;
    padding-top: 0px;
}

.left-text {
    width: 60%;
    margin: 30% auto;
    
}

h4 {
    color: rgb(83,170,142);
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

p {
    color: white;
    font-family: "Trebuchet MS";
    text-align: center;
}

.btn-primary {
    color: rgb(83,170,142);
    background-color: transparent;
    border-color: rgb(83,170,142);
    color: white;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(83,170,142);
    border-color: transparent;
}

/*.footer {*/
/*  background-color: #e7e7e6;*/
/*}*/

.footer_container {
  width: 100%;
  text-align: center;
  padding: 0 15px;
}
.footer_container .text-muted {
  margin: 10px 0;
  color: white;
}

.footer_icon{
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}

.empty {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 10%;
    background-color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select {
    /*padding: 20px 0px;*/
    border: none;
    border-bottom: 1px solid #c9ccd2;
    background-color: transparent;
    height: 58px;
}

input {
    padding: 20px 0px;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #53AA8E;
  padding: 10px 20px 10px 18px;
  text-decoration: none;
}

.btn:hover {
  background: #4a947b;
  color: white;
  text-decoration: none;
}

.bright {
    float: right !important;
}

.submit-btn {
    float: right !important;
}

.bleft {
    float: left !important;
}

h1 {
    font-family: "Trebuchet MS";
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.application {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 700px;
    width: 100%;
    padding: 16%;
}

.form-nav {
    position: fixed;
    background: transparent;
    bottom: 15%;
    right: 0px;
    padding: 10px 8% 30px 8%;
    width: 50%;
}

.application.current {
    moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    /*-moz-transform: translateX(0);*/
    /*-ms-transform: translateX(0);*/
    /*-webkit-transform: translateX(0);*/
    transform: translateX(0);
    opacity: 1;
}

.application.next {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    -moz-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
}

.application.prev {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    -moz-transform: translateX(-220%);
    -ms-transform: translateX(-220%);
    -webkit-transform: translateX(-220%);
    transform: translateX(-220%);
}

#student_dateOfBirth_1i {
    position: relative;
    left: 10%;
}

#student_dateOfBirth_2i {
    position: relative;
    left: 10%;
}

#student_dateOfBirth_3i {
    /*float: right;*/
    position: relative;
    left: 10%;
}

.bday {
    position: relative;
    left: 10%;
}

.applyf.age {
    width: 100px;
}

.applyf.zc {
    position: relative;
    left: 30%;
    width: 100px;
}

.applyf.province {
    position: relative;
    left: 0%;
    width: 100px;
}

.applyf.city {
    position: relative;
    left: 15%;
    width: 100px;
}

#student_gender {
    position: relative;
}

.field_with_errors {
    float: right;
    position: relative;
    top: 10%;
    right: 40%;
    color: black;
    color: red;
    padding: 2px;
    background-color: #EDECED;
    display: table;
    text-align: center;
}

.footer {
  position: fixed;
   /*Set the fixed height of the footer here */
  height: 10%;
  bottom: 0;
  /*height: 10%;*/
  background-color: #e7e7e6;
}

.footer_container {
  position: fixed;
  height: 10%;
  padding: 20px;
}
.footer_container .text-muted {
  margin: 10px;
  color: white;
}

.footer_icon{
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}

body {
   /*Margin bottom by footer height */
  margin-bottom: 100px;
}

nav.transparent-nav {
  background: white;/* For browsers that do not support gradients */
  width: 100%;
  position: fixed;
  height: 9.26%;
  margin:0;
  padding:0;
  overflow: hidden;
  display: inline-block;
  z-index:99999;
}

.logo {
  position: fixed;
  color: black;
  top: 1.6%;
  left: 1.6%;
  
}

nav.transparent-nav .links a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav .links {
  right: 0;
  position: fixed;
  top: 2.8%;
  font-size: 110%;
  font-family: "Trebuchet MS";
}