body {
    /*background-image: url("img/ComingSoon.png");*/
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
}

h1 {
    text-align: center;
}

center{
    vertical-align: bottom;
    font-size: 64px;
    color: white;
    opacity: 0.8;
}

nav .menu-icon {
  height: 20px;
  padding-right: 5px;
  margin-top: 5px;
  color: white;
}

div .ComingSoon{
    vertical-align: middle;
    font-size: 32px;
}

nav .links {
  float: right;
}

nav .links a {
  margin-left: 25px;
  color: #32373B;
}

nav .links a.apply-button {
  position: relative;
  color: black;
  background: #FFC001;
  padding: 15px 63px 15px 20px;
  display: inline-block;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

nav .links a.apply-button .arrow-wrapp {
  background: #FFA201;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 48px;
  text-align: center;
  padding-top: 16px;
}

nav .links a.apply-button .apply-arrow {
  color: white;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

nav .links a.apply-button:hover {
  color: white !important;
  background: #FFA201;
}

nav .links a.apply-button:hover .apply-arrow {
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

nav .links a.selected, nav .links a:hover {
  color: #FFC001;
}

nav.transparent-nav {
  background: transparent;
  /*color: black;/*/
}

nav.transparent-nav .menu-icon {
  color: white;
}

nav.transparent-nav .logo {
  color: white;
}

nav.transparent-nav .links a {
  color: white;
}

nav.transparent-nav .links a.selected, nav.transparent-nav .links a:hover {
  color: #FFC001;
}