body {
    background-image: url("../img/ComingSoon/comingsoon.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    
}

h1 {
    text-align: center;
    color: white;
}

.heading {
    color: #fff;
    font-size: 64px;
		margin: 45px 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.8;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}

nav .menu-icon {
    height: 20px;
    padding-right: 5px;
    margin-top: 5px;
    color: white;
}

div .ComingSoon{
    vertical-align: middle;
    font-size: 32px;
}

.theImage {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:url("../img/Logos/Logo2.png") no-repeat;
  background-size: 134px 46px;
  /*width:134px;*/
  /*height:46px;*/
  padding-left: 180px;
}

nav.transparent-nav {
  /*margin-top: -40px;*/
  background: transparent;
  position: fixed;
  background: -webkit-linear-gradient(#202020, transparent);
   /*For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#202020, transparent);
   /*For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#202020, transparent);
   /*For Firefox 3.6 to 15 */
  background: linear-gradient(#202020, transparent);
   /*Standard syntax (must be last) */
}

.logo {
  position: fixed;
  color: black;
  top: 30px;
  left: 30px;
  
}

nav.transparent-nav .links a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.transparent-nav .links a.selected, nav.transparent-nav .links a:hover {
  color: rgb(83,170,142);
}

.footer {
    display: none;
}