body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #d3d3d3
}

.center_text{
  text-align: center;
}

.table-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

.form-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.new_user{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.new_user h2{
  text-align: center;
}

.new_user .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.new_user .checkbox {
  font-weight: normal;
}
.new_user .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.new_user .form-control:focus {
  z-index: 2;
}
.new_user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.new_user input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
    color: rgb(83,170,142);
    background-color: transparent;
    border-color: white;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(83,170,142);
    border-color: transparent;
}

.btn-post{
    display: block;
}