table {
  border-collapse: collapse;
  background-color: transparent;
}
table, td, th {
  border: 2px solid black;
}
h2 {
  text-align: center;
}
.manager_text {
  padding-left: 16%;
  padding-right:16%;
  padding-top: 1%;
}
.link {
  padding-left:16%;
}
.form {
  text-align: right;
  padding-right:16%;
}
