table {
  border-collapse: collapse;
  background-color: transparent;
  overflow: scroll;
}
table, td, th {
  border: 2px solid black;
}
h2 {
  text-align: center;
}
.manager_text {
  padding-left: 16%;
  padding-right:16%;
  padding-top: 1%;
}
.link {
  padding-left:16%;
}
.form {
  text-align: right;
  padding-right:10.5%;
}
.manager_form {
  text-align: center;
  overflow: scroll;
}
body {
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}
.nowrap_left {
  white-space: nowrap ;
  text-align: left;
}
.nowrap_right {
  white-space: nowrap ;
  text-align: right;
}