

nav .links {
  float: left;
  position: relative;
  top: 50;
  left: 55%;
  font-size: 100%;
  font-family: "roboto";
}


nav .links a.selected, nav .links a:hover {
  color: rgb(83,170,142);
}

nav.transparent-nav {
  background: transparent;
  width: 100%;
  height: 200px;
  margin:0;
  padding:0;
  overflow: hidden;
  display: inline-block;
}

.logo {
  position: fixed;
  color: black;
  top: 30px;
  left: 30px;
  
}


nav.transparent-nav .links a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.transparent-nav .links a.selected, nav.transparent-nav .links a:hover {
  color: rgb(83,170,142);
}


