nav .links {
  right: 0;
  position: fixed;
  top: 30px;
  font-size: 110%;
}

nav .links a.selected, nav .links a:hover {
  color: rgb(83,170,142);
}

nav.transparent-nav {
 /* For browsers that do not support gradients */
  width: 100%;
  top: 0px;
  height: 100px;
  margin:0;
  padding:0;
  position: fixed;
  display: inline-block;
  background: white;
  z-index:99999;
}

.logo {
  position: fixed;
  color: black;
  top: 30px;
  left: 30px;
  
}

nav.transparent-nav .links a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.transparent-nav .links a.selected, nav.transparent-nav .links a:hover {
  color: rgb(83,170,142);
}

html {
  position: relative;
  min-height: 100%;
}
body {
   /*Margin bottom by footer height */
  padding-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: -50px;
  width: 100%;
   /*Set the fixed height of the footer here */
  height: 120px;
  background-color: #2d3d4d;
  overflow: hidden;
}

.footer_container {
  width: 100%;
  height: 120px;
  bottom: 15px;
  text-align: center;
  padding: 0 15px;
  display:inline-block;
  overflow: hidden;
}

.login_link {
  right: 0px;
  position: absolute;
  bottom: 0px;
}

.footer_container .text-muted {
  margin: 15px 0;
  color: white;
}

.footer_icon{
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}

.home_link{
  width: 100%;
  text-align: center;
}

.home_icon{
  text-align: center;
  /*bottom: 0;*/
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}

.btn-primary {
    color: rgb(83,170,142);
    background-color: transparent;
    border-color: white;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(83,170,142);
    border-color: transparent;
}

.btn-bar{
  color: rgb(83,170,142)!important;
  background-color: transparent!important;
  border-color: white!important;
}
.btn-bar:hover{
  color: #fff!important;
  background-color: rgb(83,170,142)!important;
  border-color: transparent!important;
}

.btn{
  border-radius: 2px!important;
}


ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: transparent;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 80px;
  display: none;
}
ul li ul li { 
  background: transparent; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: block; opacity: 0.3;
}

a {
  display:inline-block;
}