body{
    background-color: white;
}

.container
{
    width:100%;
    text-align: center;
}


.text {
    margin-top: 350px;
    position: relative;
    top: -300px;
    width:100%;
    text-align: center;
}

h1{
    color: rgb(83,170,142);
    font-size: 28px;
}


.text p{
    color: gray;
    font-size: 20px;
}

.top_container
{
    height: 1350px;
}

div.left
{
    width: 55%;
    float: left;
    position: relative;
    top: 100px;
    /*left: 80px;*/
    left: 7%;
    /*right: 400px;*/
    /*right: 40%;*/
    height: 1350px;
}

.right
{
    width: 45%;
    float: right;
    position: relative;
    top: 100px;
    /*left: 120px;*/
    left: 15%;
    right: 20px;
    height: 1350px;
}

.bottom_left
{
    width: 42%;
    float: left;
    position: relative;
    left: 6%;
    top: 200px;
    height: 350px;
    text-align: right;
    font-size: 12px;
}

.bottom_right
{
    width: 42%;
    float: right;
    position: relative;
    top: 200px;
    right: 6%;
    font-size: 12px;
    height: 350px;
    
}

.info hr
{
    width: 98%;
    border-style: solid;
    border-width: 1px;
    border-color: #DADAD9;
}



.center_bottom hr
{
    border-style: solid;
    width: 40px;
    border-width: 3px;
    border-color: rgb(83,170,142);
}

.info p{
    color: gray;
}

h2, h3, h4, h5, h6, h7
{
    font-size: 22px;
    font-weight: bold;
}

h4, h6
{
    color: rgb(83,170,142);
}

.top_container
{
    font-size: 16px;
}

h8
{
    font-size: 24px;
}
h10{
    font-weight: bold;
    font-size: 24px;
}

.center_bottom
{
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    font-size: 12px;
}


.bottom_images
{
    left: 13%;
    right: 13%;
    position: relative;
    top: 150px;
    /*bottom: 10%;*/
    height: 700px;
}

.bottom_images2
{
    left: 13%;
    right: 13%;
    position: relative;
    top: 80px;
    bottom: 5%;
    height: 450px;
}


.bottom_images .image
{
    position: relative; 
    width: 100%;
}



.bottom_images2 .image
{
    position: relative; 
    width: 100%;
    top: -20px;
}

h9
{
    position: absolute; 
    top: 190px; 
    left: 1px;
    width: 100%;
    color: white;
    font-weight: 900;
}

h11
{
    color: rgb(83,170,142);
}

.photo
{
    float:left; 
    padding:5px;
}

.photo2
{
    float:left; 
    padding:5px;
    margin-bottom: 100px;
}

nav.transparent-nav {
  margin-top: -40px;
  background: transparent;
  position: fixed;
  background: -webkit-linear-gradient(rgba(255,255,255,1), transparent);
   /*For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,255,255,1), transparent);
   /*For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,255,255,1), transparent);
   /*For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255,255,255,1), transparent);
   /*Standard syntax (must be last) */
}

nav.transparent-nav .links a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.opening{
    margin-top: 70px;
    background-image: url("../img/summerAcademy/opening.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.btn-primary {
    color: rgb(83,170,142);
    background-color: transparent;
    border-color: rgb(83,170,142);
    padding: 1px 12px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(83,170,142);
    border-color: transparent;
}

.center_bottom
{
    position: relative;
    top: 100px;
    text-align: center;
}

.left a
{
    float: right;
}