<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/about_us.css">
<!--<link rel="stylesheet" type="text/css" href="CSS/index.css">-->
</head>

<div class="top">
    
</div>

<div class="banner">
    <h1>HARMONY PLUS</h1> <p class="ed">International Education</p>
    <hr>
    <br/>
    <br/>
    <div class="banner_two">
        <div class="left">
            <p>
                <p class="blacktxt txt">我 们 的</p><p class="txt"> 愿 景<br/><br/></p>
                <p>基于超数字时代技术，<br/><br/></p>
                <p>持续给中国学员与家长创造卓越价值与解决方案的教育体系。<br/></p>
            </p>
        </div>
        
        <div class="right">
                <p class="blacktxt txt">我 们 的</p><p class="txt"> 使 命<br/><br/></p>
                <p>帮助志在赴美留学的中国青少年，使他们真正达到美国名校标准，<br/><br/></p>
                <p>在美国拥有活力、竞争力和发展力，让美国名校成为他们腾飞的平台。<br/></p>
            </p>
        </div>
    </div>
</div>
<br/>
<br/>
<hr>
<div class="peoples">
    <div id=101 class="l1 bottoms">
        <div class="earth">
        </div>
        <p class="companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            co-founder
        </p>
        <div class="info">
            <div class="details">
                <p>Harmony Plus 国际教育联合创始人</p>
                <p>刘丹</p>
            </div>
        </div>
        
    </div>
    <div id=102 class="l2 bottoms">
        <div class="earth">
        </div>
        <p class="companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            founder
        </p>
        <div class="info">
            <p>HARMONY PLUS 国际教育创始人</p>
            <p>赵 威</p>
        </div>
    </div>
    <div id=103 class="r1 bottoms">
        <div class="earth">
        </div>
        <p class="companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            principal consultant
        </p>
        <div class="info">
            <p>Harmony Plus 国际教育<span>首席顾问，总规划师</span></p>
            <p>Linda Kreitzman博士</p>
        </div>
    </div>
    <div id=104 class="r2 bottoms">
        <div class="earth">
        </div>
        <p class="companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            senior consultant
        </p>
        <div class="info">
            <p>Harmony Plus 国际教育<span>资深顾问</span></p>
            <p>Bob Fulcomer</p>
        </div>
    </div>
</div>


<div class="people_info">
    
</div>

