<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/about_us.css">
<!--<link rel="stylesheet" type="text/css" href="CSS/index.css">-->
</head>

<div class="top">
    
</div>

<div class="banner">
    <h1>HARMONY PLUS</h1> <p class="ed">International Education</p>
    <hr>
    <br/>
    <br/>
    <p>深耕硅谷，基于超数字时代技术，创造出具备卓越价值与解决方案的教育体系：<br /><br/>
        Harmony Plus 国际教育为中国青少年一步步铺就通往美国名校之路。和我们一起，以焕然一新的活力、竞争力和发展力，在美国名校的平台腾飞。</p>
    <div class="banner_two">
        <div class="left">
            <p>
                <p class="blacktxt txt">我 们 的</p><p class="txt"> 愿 景<br/><br/></p>
                <p>基于超数字时代技术，<br/><br/></p>
                <p>持续给中国学员与家长创造卓越价值与解决方案的教育体系。<br/></p>
            </p>
        </div>
        
        <div class="right">
                <p class="blacktxt txt">我 们 的</p><p class="txt"> 使 命<br/><br/></p>
                <p>帮助志在赴美留学的中国青少年，使他们真正达到美国名校标准，<br/><br/></p>
                <p>在美国拥有活力、竞争力和发展力，让美国名校成为他们腾飞的平台。<br/></p>
            </p>
        </div>
    </div>

</div>