<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/about_us.css">
<!--<link rel="stylesheet" type="text/css" href="CSS/index.css">-->
</head>
<title>Harmony Plus About Us</title>

<div class="top">
    
</div>

<div class="banner">
    <h1>HARMONY PLUS</h1> <p class="ed">International Education</p>
    <hr>
    <br/>
    <br/>
    <div class="banner_two">
        <div class="leftbanner">
            <p>
                <!--<p class="blacktxt txt">我 们 的</p><p class="txt"> 愿 景<br/><br/></p>-->
                <!--<p>基于超数字时代技术，<br/><br/></p>-->
                <!--<p>持续给中国学员与家长创造卓越价值与解决方案的教育体系。<br/></p>-->
                <p class="blacktxt txt">Our</p><p class="txt"> Vision<br/><br/></p>
                <p>Based on Super digital age technology,<br/><br/></p>
                <p>Chinese students and parents continue to create superior<br/><br/></p>
                <p>value education systems and solutions.<br/></p>
            </p>
        </div>
        
        <div class="rightbanner">
                <!--<p class="blacktxt txt">我 们 的</p><p class="txt"> 使 命<br/><br/></p>-->
                <!--<p>帮助志在赴美留学的中国青少年，使他们真正达到美国名校标准，<br/><br/></p>-->
                <!--<p>在美国拥有活力、竞争力和发展力，让美国名校成为他们腾飞的平台。<br/></p>-->
                <p class="blacktxt txt">Our</p><p class="txt"> Mission<br/><br/></p>
                <p>Aiming to help teenagers studying in China, <br/><br/></p>
                <p>so that they really achieve the American elite standards.<br/><br/></p>
                <p>In the United States we have vitality, competitiveness and development of power, <br/><br/></p>
                <p>so that they become US elite off the platform.<br/></p>
            </p>
        </div>
    </div>
</div>
<br/>
<br/>
<hr id="line">
<div class="peoples">
    <div id=101 class="l1 bottoms">
        <div class="earth img1">
        </div>
        <p class="c1 companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            co-founder
        </p>
    </div>
    <div id=102 class="l2 bottoms">
        <div class="earth img2">
        </div>
        <p class="c2 companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            founder
        </p>
    </div>
    <div id=103 class="r1 bottoms">
        <div class="earth img3">
        </div>
        <p class="c3 companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            principal consultant
        </p>
    </div>
    <div id=104 class="r2 bottoms">
        <div class="earth img4">
        </div>
        <p class="c4 companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            senior consultant
        </p>
    </div>
</div>


<div class="people_info">
    <div id = people1 class="detail people1 left">
        <!--<br/><br/><br/>-->
        <!--<p>HARMONY PLUS 国际教育<span>联合创始人</span></p><br/>-->
        <!--<hr>-->
        <!--<p>中欧国际工商学院EMBA </p><br/>-->
        <!--<img src='img/aboutus/head4.png'><br/>-->
        <!--<p>刘丹</p><br/>-->
        <!--<p>资深管理及教育专家，具有多年的跨国人力资源管理经验，行业包括医药健康、银行、供应链及零售等。通晓中西方文化，致力于人才发展及青少年教育，伯克利青少年项目共同设计师，往返于上海和硅谷。</p><br/>-->
        <!--<p>&mdash;<span>&mdash;</span>&mdash;</p>-->
        <br/><br/><br/>
        <p>HARMONY PLUS International Education<span> Co-founder</span></p><br/>
        <hr>
        <p>China Europe International Business School EMBA </p><br/>
        <img src='img/aboutus/head1.png'><br/>
        <p>Dan Liu</p><br/>
        <p>Senior management and education experts, with many years of experience in international human resources management, <br/><br/></p>
        <p>including pharmaceutical industry, health, banking, supply chain and retail.<br/><br/></p>
        <p>Familiar with Western culture, committed to human resources development and youth education, <br/><br/></p>
        <p>youth programs co-designer Berkeley, and from Shanghai and Silicon Valley.</p><br/>
        <p>&mdash;<span id="green">&mdash;</span>&mdash;</p>
    </div>
    
    <div id = people2 class="detail people2 current">
            <br/><br/><br/>
            <p>HARMONY PLUS International Education<span> Founder</span></p>
            <hr>
            <p>Nankai University School of Economics Professor & Professor, University of California, Berkeley cooperation</p><br/>
            <img src='img/aboutus/head2.png'>
            <p>Wei Zhao</p><br/>
            <p>Eastern and Western cultures have a deep understanding and a good ability to control,</p><br/>
            <p>the cause of education have a strong sense of mission and sense of accomplishment.</p><br/>
            <p>In recent years, he personally promoted and Cambridge, Harvard, Columbia, Stanford, Berkeley,</p><br/>
            <p>Georgetown University, Auburn University, Nyenrode University, Shanghai Jiaotong University and other cooperation projects,</p><br/>
            <p>making China the world with the highest quality educational resources to effectively docking.</p><br/>
            <p>By 2015, he co-developed with Berkeley youth programs, it has changed the growth path of many Chinese young people, so that they have leap.</p><br/>
            <p>&mdash;<span id="green">&mdash;</span>&mdash;</p>
    </div>
    
    <div id = people3 class="detail people3 right">
            <br/><br/><br/>
            <p>Harmony Plus International Education<span>Principal Consultant, Chief Planner</span></p><br/>
            <hr>
            <img src='img/aboutus/head3.png'>
            <p>Doctor Linda Kreitzman</p><br/>
            <p>UC Berkeley Financial Engineering founder, 21-year experience in top US universities admissions, </p><br/>
            <p>career guidance for 16 years experience.Specializes in young students find time to fit the child's development path, </p><br/>
            <p>tailored design targeted programs and steadily promote the child's growth, from school to university, </p><br/>
            <p>from college to the Institute, from the ivory tower to employment, to promotion ......</p><br/>
            <p>She is currently coaching college application program, all students are themselves one of the top 3 goals universities.</p><br/>
            <p>&mdash;<span id="green">&mdash;</span>&mdash;</p>
    </div>
    
    <div id = people4 class="detail people4 right">
            <br/><br/><br/>
            <p>Harmony Plus International Education<span>Senior Consultant</span></p><br/>
            <hr>
            <p>16-year history of community college president, 11 years of professional Learning Consultants。</p><br/>
            <img src='img/aboutus/head4.png'><br/>
            <p>Bob Fulcomer</p><br/>
            <p>Bob had earlier served 20 years in the US Air Force to Air Force Commander retired school principal honorable identity, </p><br/>
            <p>after joining CISCO for the IT industry giants to create internal training system.</p><br/>
            <p>Cross-border experience, so Bob has a courageous soldier, efficient work style, pragmatic thinking, </p><br/>
            <p>business insight and extensive network of contacts and professional experience.</p><br/>
            <p>Bob led 16-man team of Higher Learning Consultants.</p><br/>
            <p>&mdash;<span id="green">&mdash;</span>&mdash;</p>
    </div>
    
</div>



<script>
$(function () {

    function reset_buttons() {
        document.querySelector(".r1").style.backgroundColor = "#EFEEEE";
        document.querySelector(".r2").style.backgroundColor = "#EFEEEE";
        document.querySelector(".l1").style.backgroundColor = "#EFEEEE";
        document.querySelector(".l2").style.backgroundColor = "#EFEEEE";
        document.querySelector(".c1").style.color = "#53AA8E";
        document.querySelector(".c2").style.color = "#53AA8E";
        document.querySelector(".c3").style.color = "#53AA8E";
        document.querySelector(".c4").style.color = "#53AA8E";
    }
    

    

  // APPLICATION FORM
  $('#101').mouseenter(function (e) {
    e.preventDefault();
    
    
    reset_buttons();

    var $inView = $('.current');
    var $people1 = document.getElementById('people1')
    document.querySelector('.c1').style.color = "white";
    document.querySelector(".l1").style.backgroundColor = "#53AA8E";
    if ($people1.classList.contains('left')) {
        // change_button_on_select(document.querySelector(".people1"));
        $('#people1').removeClass('left').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
    }
     if ($people1.classList.contains('right')) {
        //  $('#people1').removeClass('right').addClass()
        $('#people1').removeClass('right').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
     }
    
    
  });
  
  $('#102').mouseenter(function (e) {
    e.preventDefault();
    
    reset_buttons();
    var $inView = $('.current');

    var $people = document.getElementById('people2')
    document.querySelector('.c2').style.color = "white";
    document.querySelector(".l2").style.backgroundColor = "#53AA8E";
    if ($people.classList.contains('left')) {
        $('#people2').removeClass('left').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
    }
    
    if ($people.classList.contains('right')) {

        $('#people2').removeClass('right').addClass('current');
        $inView.removeClass('current').addClass('left');
        return
    }
    
  });
  
  $('#103').mouseenter(function (e) {
    e.preventDefault();
    
    reset_buttons();
    var $inView = $('.current');
    document.querySelector('.c3').style.color = "white";
    document.querySelector(".r1").style.backgroundColor = "#53AA8E";
    var $people = document.getElementById('people3')
    if ($people.classList.contains('left')) {
        $('#people3').removeClass('left').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
    }
    
    if ($people.classList.contains('right')) {
        $('#people3').removeClass('right').addClass('current');
        $inView.removeClass('current').addClass('left');
        return
    }
    
  });
  
  $('#104').mouseenter(function (e) {
    e.preventDefault();

    reset_buttons();
    var $inView = $('.current');
    document.querySelector('.c4').style.color = "white";
    document.querySelector(".r2").style.backgroundColor = "#53AA8E";
    var $people = document.getElementById('people4')
    if ($people.classList.contains('left')) {
        $('#people4').removeClass('left').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
    }
    
    if ($people.classList.contains('right')) {
        $('#people4').removeClass('right').addClass('current');
        $inView.removeClass('current').addClass('left');
        return
    }
    
  });
  
})
</script>