<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/about_us.css">
<!--<link rel="stylesheet" type="text/css" href="CSS/index.css">-->
</head>

<div class="top">
    
</div>

<div class="banner">
    <h1>HARMONY PLUS</h1> <p class="ed">International Education</p>
    <hr>
    <br/>
    <br/>
    <div class="banner_two">
        <div class="left">
            <p>
                <p class="blacktxt txt">我 们 的</p><p class="txt"> 愿 景<br/><br/></p>
                <p>基于超数字时代技术，<br/><br/></p>
                <p>持续给中国学员与家长创造卓越价值与解决方案的教育体系。<br/></p>
            </p>
        </div>
        
        <div class="right">
                <p class="blacktxt txt">我 们 的</p><p class="txt"> 使 命<br/><br/></p>
                <p>帮助志在赴美留学的中国青少年，使他们真正达到美国名校标准，<br/><br/></p>
                <p>在美国拥有活力、竞争力和发展力，让美国名校成为他们腾飞的平台。<br/></p>
            </p>
        </div>
    </div>
</div>
<br/>
<br/>
<hr>
<div class="peoples">
    <div id=101 class="l1 bottoms">
        <div class="earth">
        </div>
        <p class="companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            co-founder
        </p>
        <div class="info">
            <div class="details">
                <img src="img/aboutus/10.png">
                <p>HARMONY PLUS 国际教育<span>联合创始人</span></p>
                <hr>
                <p>中欧国际工商学院EMBA </p>
                <img src='img/aboutus/head2.png'>
                <p>刘丹</p>
                <p>资深管理及教育专家，具有多年的跨国人力资源管理经验，行业包括医药健康、银行、供应链及零售等。通晓中西方文化，致力于人才发展及青少年教育，伯克利青少年项目共同设计师，往返于上海和硅谷。</p>
            </div>
        </div>
        
    </div>
    <div id=102 class="l2 bottoms">
        <div class="earth">
        </div>
        <p class="companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            founder
        </p>
        <div class="info">
            <img src="img/aboutus/10.png">
            <p>HARMONY PLUS 国际教育<span>创始人</span></p>
            <hr>
            <p>南开大学经济学院特聘教授 & 加州大学伯克利合作教授</p>
            <img src='img/aboutus/head1.png'>
            <p>赵 威</p>
            <p>对东西方文化有深刻的理解和良好的驾驭能力，</p>
            <p>对教育事业有强烈的使命感和成就感。</p>
            <p>近年来，他亲自推动了与剑桥、哈佛、哥伦比亚、斯坦福、伯克利、Georgetown大学、奥本大学、Nyenrode大学、上海交大等合作项目，使中国可以与世界最优质的教育资源有效对接。</p>
            <p>2015年，他与伯克利共同开发了青少年项目，已经改变了诸多中国青少年的成长路径，使他们产生飞跃。</p>
        </div>
    </div>
    <div id=103 class="r1 bottoms">
        <div class="earth">
        </div>
        <p class="companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            principal consultant
        </p>
        <div class="info">
            <img src="img/aboutus/10.png">
            <p>Harmony Plus 国际教育<span>首席顾问，总规划师</span></p>
            <hr>
            <img src='img/aboutus/head3.png'>
            <p>Linda Kreitzman博士</p>
            <p>UC Berkeley金融工程系创始人，21年美国顶级学府招生经验，16年就业指导经历。擅长在学生年少时期寻找到适合孩子的发展道路，量体裁衣，设计针对性的方案，稳妥地推动孩子的成长，从中学到大学，从大学到研究院，从象牙塔到就业、到晋升……</p>
            <p>目前，她辅导的大学申请项目，所有学生均被自己top 3目标大学之一录取。</p>
        </div>
    </div>
    <div id=104 class="r2 bottoms">
        <div class="earth">
        </div>
        <p class="companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            senior consultant
        </p>
        <div class="info">
            <img src="img/aboutus/10.png">
            <p>Harmony Plus 国际教育<span>资深顾问</span></p>
            <hr>
            <p>16年社区大学校长履历，11年专业升学顾问。</p>
            <img src='img/aboutus/head4.png'>
            <p>Bob Fulcomer</p>
            <p>更早Bob曾在美国空军服役20年，以空军指挥官学校校长身份光荣退役，后加入CISCO为这个IT行业巨头打造内部培训体系。，</p>
            <p>跨界的经历，使Bob拥有军人的果敢、高效的作风、务实的思维、行业的洞察、广泛的人脉以及专业的经验。</p>
            <p>Bob领导16人的高等教育升学顾问团队。。</p>
        </div>
    </div>
</div>


<div class="people_info">
    
</div>

