<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/about_us.css">
<!--<link rel="stylesheet" type="text/css" href="CSS/index.css">-->
</head>
<title>Harmony Plus About Us</title>

<div class="top">
    
</div>

<div class="banner">
    <h1>HARMONY PLUS</h1> <p class="ed">International Education</p>
    <hr>
    <br/>
    <br/>
    <div class="banner_two">
        <div class="leftbanner">
            <p>
                <p class="blacktxt txt">我 们 的</p><p class="txt"> 愿 景<br/><br/></p>
                <p>基于超数字时代技术，<br/><br/></p>
                <p>持续给中国学员与家长创造卓越价值与解决方案的教育体系。<br/></p>
            </p>
        </div>
        
        <div class="rightbanner">
                <p class="blacktxt txt">我 们 的</p><p class="txt"> 使 命<br/><br/></p>
                <p>帮助志在赴美留学的中国青少年，使他们真正达到美国名校标准，<br/><br/></p>
                <p>在美国拥有活力、竞争力和发展力，让美国名校成为他们腾飞的平台。<br/></p>
            </p>
        </div>
    </div>
</div>
<br/>
<br/>
<hr>
<div class="peoples">
    <div id=101 class="l1 bottoms">
        <div class="earth img1">
        </div>
        <p class="c1 companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            co-founder
        </p>
    </div>
    <div id=102 class="l2 bottoms">
        <div class="earth img2">
        </div>
        <p class="c2 companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            founder
        </p>
    </div>
    <div id=103 class="r1 bottoms">
        <div class="earth img3">
        </div>
        <p class="c3 companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            principal consultant
        </p>
    </div>
    <div id=104 class="r2 bottoms">
        <div class="earth img4">
        </div>
        <p class="c4 companyname">HARMONY-PLUS EDUCATION</p>
        <br/>
        <p class="persontitle">
            senior consultant
        </p>
    </div>
</div>


<div class="people_info">
    <div id = people1 class="detail people1 left">
        <br/><br/><br/>
        <p>HARMONY PLUS 国际教育<span>联合创始人</span></p><br/>
        <hr>
        <p>中欧国际工商学院EMBA </p><br/>
        <img src='img/aboutus/head4.png'><br/>
        <p>刘丹</p><br/>
        <p>资深管理及教育专家，具有多年的跨国人力资源管理经验，行业包括医药健康、银行、供应链及零售等。通晓中西方文化，致力于人才发展及青少年教育，伯克利青少年项目共同设计师，往返于上海和硅谷。</p><br/>
        <p>&mdash;<span>&mdash;</span>&mdash;</p>
    </div>
    
    <div id = people2 class="detail people2 current">
            <br/><br/><br/>
            <p>HARMONY PLUS 国际教育<span>创始人</span></p>
            <hr>
            <p>南开大学经济学院特聘教授 & 加州大学伯克利合作教授</p><br/>
            <img src='img/aboutus/head1.png'>
            <p>赵 威</p><br/>
            <p>对东西方文化有深刻的理解和良好的驾驭能力，</p><br/>
            <p>对教育事业有强烈的使命感和成就感。</p><br/>
            <p>近年来，他亲自推动了与剑桥、哈佛、哥伦比亚、斯坦福、伯克利、Georgetown大学、奥本大学、Nyenrode大学、上海交大等合作项目，使中国可以与世界最优质的教育资源有效对接。</p><br/>
            <p>2015年，他与伯克利共同开发了青少年项目，已经改变了诸多中国青少年的成长路径，使他们产生飞跃。</p><br/>
            <p>&mdash;<span>&mdash;</span>&mdash;</p>
    </div>
    
    <div id = people3 class="detail people3 right">
            <br/><br/><br/>
            <p>Harmony Plus 国际教育<span>首席顾问，总规划师</span></p><br/>
            <hr>
            <img src='img/aboutus/head2.png'>
            <p>Linda Kreitzman博士</p><br/>
            <p>UC Berkeley金融工程系创始人，21年美国顶级学府招生经验，16年就业指导经历。擅长在学生年少时期寻找到适合孩子的发展道路，量体裁衣，设计针对性的方案，稳妥地推动孩子的成长，从中学到大学，从大学到研究院，从象牙塔到就业、到晋升……</p><br/>
            <p>目前，她辅导的大学申请项目，所有学生均被自己top 3目标大学之一录取。</p><br/>
            <p>&mdash;<span>&mdash;</span>&mdash;</p>
    </div>
    
    <div id = people4 class="detail people4 right">
            <br/><br/><br/>
            <p>Harmony Plus 国际教育<span>资深顾问</span></p><br/>
            <hr>
            <p>16年社区大学校长履历，11年专业升学顾问。</p><br/>
            <img src='img/aboutus/head3.png'><br/>
            <p>Bob Fulcomer</p><br/>
            <p>更早Bob曾在美国空军服役20年，以空军指挥官学校校长身份光荣退役，后加入CISCO为这个IT行业巨头打造内部培训体系。，</p><br/>
            <p>跨界的经历，使Bob拥有军人的果敢、高效的作风、务实的思维、行业的洞察、广泛的人脉以及专业的经验。</p><br/>
            <p>Bob领导16人的高等教育升学顾问团队。。</p><br/>
            <p>&mdash;<span>&mdash;</span>&mdash;</p>
    </div>
    
</div>



<script>
$(function () {

    function reset_buttons() {
        document.querySelector(".r1").style.backgroundColor = "#EFEEEE";
        document.querySelector(".r2").style.backgroundColor = "#EFEEEE";
        document.querySelector(".l1").style.backgroundColor = "#EFEEEE";
        document.querySelector(".l2").style.backgroundColor = "#EFEEEE";
        document.querySelector(".c1").style.color = "#53AA8E";
        document.querySelector(".c2").style.color = "#53AA8E";
        document.querySelector(".c3").style.color = "#53AA8E";
        document.querySelector(".c4").style.color = "#53AA8E";
    }
    

    

  // APPLICATION FORM
  $('#101').mouseenter(function (e) {
    e.preventDefault();
    
    
    reset_buttons();

    var $inView = $('.current');
    var $people1 = document.getElementById('people1')
    document.querySelector('.c1').style.color = "white";
    document.querySelector(".l1").style.backgroundColor = "#53AA8E";
    if ($people1.classList.contains('left')) {
        // change_button_on_select(document.querySelector(".people1"));
        $('#people1').removeClass('left').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
    }
     if ($people1.classList.contains('right')) {
        //  $('#people1').removeClass('right').addClass()
        $('#people1').removeClass('right').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
     }
    
    
  });
  
  $('#102').mouseenter(function (e) {
    e.preventDefault();
    
    reset_buttons();
    var $inView = $('.current');

    var $people = document.getElementById('people2')
    document.querySelector('.c2').style.color = "white";
    document.querySelector(".l2").style.backgroundColor = "#53AA8E";
    if ($people.classList.contains('left')) {
        $('#people2').removeClass('left').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
    }
    
    if ($people.classList.contains('right')) {

        $('#people2').removeClass('right').addClass('current');
        $inView.removeClass('current').addClass('left');
        return
    }
    
  });
  
  $('#103').mouseenter(function (e) {
    e.preventDefault();
    
    reset_buttons();
    var $inView = $('.current');
    document.querySelector('.c3').style.color = "white";
    document.querySelector(".r1").style.backgroundColor = "#53AA8E";
    var $people = document.getElementById('people3')
    if ($people.classList.contains('left')) {
        $('#people3').removeClass('left').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
    }
    
    if ($people.classList.contains('right')) {
        $('#people3').removeClass('right').addClass('current');
        $inView.removeClass('current').addClass('left');
        return
    }
    
  });
  
  $('#104').mouseenter(function (e) {
    e.preventDefault();

    reset_buttons();
    var $inView = $('.current');
    document.querySelector('.c4').style.color = "white";
    document.querySelector(".r2").style.backgroundColor = "#53AA8E";
    var $people = document.getElementById('people4')
    if ($people.classList.contains('left')) {
        $('#people4').removeClass('left').addClass('current');
        $inView.removeClass('current').addClass('right');
        return
    }
    
    if ($people.classList.contains('right')) {
        $('#people4').removeClass('right').addClass('current');
        $inView.removeClass('current').addClass('left');
        return
    }
    
  });
  
})
</script>