<head>
<link rel="stylesheet" type="text/css" href="CSS/ComingSoon.css">
<!--Title of Future Planning page-->
<title>Harmony Plus Coming Soon</title>
</head>
<h1>Future Planning</h1>
<nav id="transparent-nav" class="transparent-nav">
    <p>
      <a href="/">
      <img border="0" alt="harmony_logo" src="img/logo.png" width="224" height="77">
      </a>
    </p>
    <div class="links">
        <a href="future_planing">Future Planning</a>
        <a href="summer_academy">Summer Academy</a>
        <a href="stories">Stories</a>
        <a href="about">About Us</a>
        <a href="contact">Contact</a>
   <!--     <a class="apply-button" href="programs">Apply-->
			<!--<span class="arrow-wrapp">-->
			<!--	<svg viewBox="0 0 76 32" class="apply-arrow icon-xs">-->
   <!--                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/icons/icons.svg#arrow"></use>-->
   <!--             </svg>-->
			<!--</span>-->
   <!--     </a>-->
    </div>
</nav>
<div id = "ComingSoon" class = 'ComingSoon'>
  <center>Coming Soon</center>
</div>

