<title>Harmony Plus Contact Info</title>

<link rel="stylesheet" type="text/css" href="CSS/Contact.css">

<div id="top" class="opening"></div>

<div class="text_container">
    <h1>Contact Us</h1>
    <hr>
    </br>
    <p>We are always with you, from U.S. to China.</p>
    <br>
    <img src="img/Contact/WeChat.png" alt="WeChat.pn" class="WeChat">
    </br>
    </br>
    <p>Official WeChat</p>
</div>

<div class="row">
    <div class="col-xs-6">
        <h2>Silicon Valley</h2>
        </br>
        <p>Mr Zhao：+1 650 8628052</p>
        <p>bill.zhaowei@harmony-plus.com</p>
    </div>
    <div class="col-xs-6">
        <h2> </h2>
        </br>
        <p>Mrs Li：+1 650 6257896</p>
        <p>suzanna.liying@harmony-plus.com</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <h2>China</h2>
        </br>
        <p>Eastern China</p>
        <p>Mrs Liu：+86 138 1895 4778</p>
        <p>danielle.liudan@harmony-plus.com</p>
    </div>
    <div class="col-xs-6">
        <h2> </h2>
        </br>
        <p>Southern China</p>
        <p>Mr Quan：+86 135 1278 9965</p>
        <p>selina.quan@harmony-plus.com</p>
    </div>
    <div class="col-xs-6">
        <h2> </h2>
        </br>
        <p>Northern China</p>
        <p>Mr Li：+86 189 1059 6814</p>
        <p>merry.lifang@harmony-plus.com</p>
    </div>
</div>




