<title>Harmony Plus Contact Info</title>

<link rel="stylesheet" type="text/css" href="CSS/Contact.css">

<div id="top" class="opening"></div>

<div class="text_container">
    <h1>联系我们</h1>
    <hr>
    </br>
    <p style="font-size:18px">从美国到中国，我们随时在您身边。</p>
    <br>
    <img src="img/Contact/WeChat.png" alt="WeChat.pn" class="WeChat">
    </br>
    </br>
    <p>官方微信服务平台</p>
</div>

<div class="row">
    <div class="col-xs-6">
        <h2>美国硅谷</h2>
        </br>
        <table>
            <thead>
                <tr>
                  <th>赵老师:</th>
                  <td>+1 650 8628052</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>bill.zhaowei@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <h2> </h2>
        </br>
        <table>
            <thead>
                <tr>
                  <th>李老师：</th>
                  <td>+1 650 6257896</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>suzanna.liying@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</br>
</br>

<div class="row">
    <div class="col-xs-6">
        <h2>中  国</h2>
        </br>
        <table>
            <thead>
                <tr>
                  <th style="font-size:18px">华东地区</th>
                </tr>
                <tr>
                  <th>刘老师：</th>
                  <td>+86 138 1895 4778</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>danielle.liudan@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <h2> </h2>
        </br>
        <table>
            <thead>
                <tr>
                  <th style="font-size:18px">华南地区</th>
                </tr>
                <tr>
                  <th>权老师：</th>
                  <td>+86 135 1278 9965</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>selina.quan@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        </br>
        <table>
            <thead>
                <tr>
                  <th style="font-size:18px">华北地区</th>
                </tr>
                <tr>
                  <th>李老师：</th>
                  <td>+86 189 1059 6814</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>merry.lifang@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</br>
</br>

<script>
    $(function () {

        var fp = "<a id='fp' href='/cn_future_planning'>未来规划</a>";
        $('#fp').html(fp)

        var english = "<a id='language' href='/'>English</a>";
        $('#language').html(english);
        
        
        var summer_academy = "<a id='sa' href='/cn_summer_academy'>夏季课程</a>";
        $('#sa').html(summer_academy);
        
        var homepage = "<a id='home' href='/cn_index'>首页</a>"
        $('#home').html(homepage);
        
        var contact = "<a id='contact' href='/cn_contact' style='color:#53AA8E'>联系方式</a>";
        $('#contact').html(contact)
        
        var au = "<a id='au' href='/cn_about_us'>关于我们</a>";
        $('#au').html(au)
        
        var story = "<a id='story' href='/cn_stories'>故事分享</a>";
        $('#story').html(story)
    })
</script>