<title>Harmony Plus Contact Info</title>

<link rel="stylesheet" type="text/css" href="CSS/Contact.css">

<div id="top" class="opening"></div>

<div class="text_container">
    <h1>Contact Us</h1>
    <hr>
    </br>
    <p style="font-size:18px">We are always with you, from U.S. to China.</p>
    <br>
    <img src="img/Contact/WeChat.png" alt="WeChat.pn" class="WeChat">
    </br>
    </br>
    <p>Official WeChat</p>
</div>

<div class="row">
    <div class="col-xs-6">
        <h2>Silicon Valley</h2>
        </br>
        <table>
            <thead>
                <tr>
                  <th>Mr Zhao:</th>
                  <td>+1 650 8628052</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>bill.zhaowei@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <h2> </h2>
        </br>
        <table>
            <thead>
                <tr>
                  <th>Mrs Li：</th>
                  <td>+1 650 6257896</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>suzanna.liying@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</br>
</br>

<div class="row">
    <div class="col-xs-6">
        <h2>China</h2>
        </br>
        <table>
            <thead>
                <tr>
                  <th style="font-size:18px">Eastern China</th>
                </tr>
                <tr>
                  <th>Mrs Liu：</th>
                  <td>+86 138 1895 4778</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>danielle.liudan@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <h2> </h2>
        </br>
        <table>
            <thead>
                <tr>
                  <th style="font-size:18px">Southern China</th>
                </tr>
                <tr>
                  <th>Mr Quan：</th>
                  <td>+86 135 1278 9965</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>selina.quan@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        </br>
        <table>
            <thead>
                <tr>
                  <th style="font-size:18px">Northern China</th>
                </tr>
                <tr>
                  <th>Mr Li：</th>
                  <td>+86 189 1059 6814</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>merry.lifang@harmony-plus.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




