<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/details.css">
<!--<link rel="stylesheet" type="text/css" href="CSS/index.css">-->
</head>
<title>Harmony Plus Course Detail</title>
<hr><br/><br/><br/>
<div class = "firstPart">
    <!--<h1>课堂内容：课堂形式多样，感受美式教育精髓</h1><br/>-->
    <!--<p class="gray">ice break，小组合作，户外拓展等</p><br/>-->
    <h1>Classroom Content: classroom forms, feel the essence of American Education</h1><br/>
    <p class="gray">ice breakers，Group work and other outdoor expansion</p><br/>
    <div class="image">
        <img src="img/details/forth.png" alt="" align="middle" width="80%" height="24%"/>
    </div>
</div>
<hr><br/>
<div class= "secondPart">
    <h1>Classroom Content: classroom forms, feel the essence of American Education</h1><br/>
    <p class="gray">ice breakers，Group work and other outdoor expansion</p><br/>
    <div class="image">
        <img src="img/details/third.png" alt="" align="middle" width="80%" height="24%"/>
    </div>
</div>
<hr><br/>
<div class= "thirdPart">
    <h1>Music professor taught himself, face to face</h1><br><br>
    <div class="info">
    <div class="head1">

    </div>
    <div class="discription">
        <h2>Dana Carney</h2>
        <h2>Courses: Organizational Management</h2>
        <h3>Professor, University of California Berkeley Haas School of Business</h3>
        <p class="gray">Dr. Northeastern University, Harvard University postdoctoral Professor Zeng Renfu Columbia University, received many awards and honors, such as the National Science Foundation award, CAREER Award, Columbia University Award for diversity initiatives.</p>
    </div>
    </div>
    <br/><br/><br/><br/>
    <div class="info">
    <div class="head2">
        
    </div>
    <div class="discription">
        <h2>Gregory LaBlanc</h2>
        <h2>Courses: financial accounting, pricing strategy</h2>
        <h3>Berkeley Haas School of Business, finance, strategy professor at the University of California MBA and MFE</h3>
        <p class="gray">Professor LeBlanc graduated from the Wharton School and the University of California, Berkeley School of Law, teaching areas, including finance and strategy. Earl F. Cheit won the 2009 Distinguished Teaching Award and the 2004 Haas EWMBA core tutor. Worked for world-renowned enterprises in the petrochemical, Facebook, Google and other services provided.</p>
    </div>
    </div>
    <br/><br/><br/><br/>
    <div class="info">
    <div class="head3">
       
    </div>
    <div class="discription">
        <h2>Solomon N. Darwin</h2>
        <h2>Courses: Marketing, open innovation</h2>
        <h3>University of California Berkeley Haas School of Business, Executive Director Garwood business innovation centers, marketing case studies academic advisor</h3>
        <p class="gray">Professor Solomon Darwin has a wealth of business management and academic experience. He is an international speaker many business meetings, its innovative leadership, teaching, curriculum development received a lot of awards. As one of the director, he presided over a number of important annual international conference, Innovation Forum Roundtable and chief financial officer. He has 16 years of teaching experience, he joined Haas in 2005.</p>
    </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>
<hr>
<div class= "forthPart">
    <br/><br/>
    <h1>Full security, full management dorm</h1><br/><br/><br/>
    <div class="image">
        <img src="img/details/second.png" alt="" align="middle" width="80%" height="24%"/>
    </div>
</div>
<br/><br/>
<hr>
<div class="fifthPart">
    <br/><br/>
    <h1>Graduation witness: Berkeley obtain certificate</h1><br/>
    <p class='gray'>Berkeley official diploma</p><br/>
    <p class='gray'>American University Application Coaching</p><br/>
    <div class="image">
        <img src="img/details/first.png" alt="" align="middle" width="80%" height="24%"/>
    </div>
</div>
<hr>
<div class="aaa">
<div class="sixthPart">
    <br/><br/>
    <h4>B-BAY class schedule</h4><br/>
    <p class='gray'>Note: according to the actual situation may fine-tune the curriculum.</p><br/>
    <div class='schedule bbay'>
        <img src="img/details/BBAY.png" alt="" align="middle" width="90%" height/>
    </div>
</div>
<br/><br/>
<hr>

<div class="sixthPart">
    <br/><br/>
    <h4>IDEAL class schedule</h4><br/>
    <p class='gray'>Note: according to the actual situation may fine-tune the curriculum.</p><br/>
    <div class='schedule ideal'>
        <img src="img/details/BBAY.png" alt="" align="middle" width="90%"/>
    </div>
</div>
</div>
