<head>
    <link rel="stylesheet" type="text/css" href="CSS/ComingSoon.css">
    <!--Title of Future Planning page-->
    <title>Harmony Plus Future Planning</title>
</head>
<br />
<br />
<br />
<h1>Future Planning</h1>
<!--<div background="img/ComingSoon.png">-->
    <div class="container">
        <h2 class="heading" align="center">coming soon</h2>
    </div>
<!--</div>-->

<script>
    $(function () {
        document.getElementById("fp").style.color = "#53AA8E";
    })
</script>

<script>
    $(function () {

      $('#fp').remove();
      $('#story').remove();
      $('#sa').remove();
      $('#home').remove();
      $('#contact').remove();
      $('#language').remove();
      $('#au').remove();
      $('#apply').remove();
      
      var homepage = "<a id='home' href='/cn_index' style='position: relative;*/margin-right: 25px;'>首页</a>"
        $('.links').append(homepage);
      
      
        var fp = "<a id='fp' href='/cn_future_planning' style='color:#53AA8E; position: relative;*/margin-right: 30px;'>未来规划</a>";
        $('.links').append(fp)
        
        var summer_academy = "<a id='sa' href='/cn_summer_academy' style='position: relative;*/margin-right: 30px;'>夏季课程</a>";
        $('.links').append(summer_academy);

        var story = "<a id='story' href='/cn_stories' style='position: relative;*/margin-right: 30px;'>故事分享</a>";
        $('.links').append(story)
        
        var au = "<a id='au' href='/cn_about_us' style='position: relative;*/margin-right: 30px;'>关于我们</a>";
        $('.links').append(au)
        
        var contact = "<a id='contact' href='/cn_contact' style='position: relative;*/margin-right: 30px;'>联系方式</a>";
        $('.links').append(contact)
        
        var apply = "<a id='contact' href='/cn_b_bay_apply' style='position: relative;*/margin-right: 30px;'>申请</a>";
        $('.links').append(apply);
        var english = "<a id='language' href='/' style='position: relative;*/margin-right: 30px;'>English</a>";
        $('.links').append(english);
        
    })
</script>