<head>
    <link rel="stylesheet" type="text/css" href="CSS/ComingSoon.css">
    <!--Title of Future Planning page-->
    <title>Harmony Plus Future Planning</title>
</head>
<br />
<br />
<br />
<h1>Future Planning</h1>
<!--<div background="img/ComingSoon.png">-->
    <div class="container">
        <h2 class="heading" align="center">coming soon</h2>
    </div>
<!--</div>-->

<script>
    $(function () {
        document.getElementById("fp").style.color = "#53AA8E";
    })
</script>