<% #  This file is app/views/homepage/index.html.haml %>

<!--Title of Home page-->
<title>Harmony Plus Home</title>

<link rel="stylesheet" type="text/css" href="CSS/index.css">

<div id="top" class="opening">
    <div class="container">
        <h1>HARMONY PLUS</h1>
        <p>This is the Home Page! Other text here.</p>
        <p><a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<br />

<div class="text_container">
  <h3>About Us</h3>
  <hr>
  <br />
  <p>Roots in Silicon Valley, based on ultra digital technology to create valueable and excellent education system: Harmony Plus International Education
  paved the way to the US elite step by step.</p>
</div>

<br />

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6" width="563.656">
      <img border="0" alt="Other Thing" src="img/Campus.png" class="worldimg" height="300">
      <footer class="footer">
        <h2>Summer Courses</h2>
        <p>Study in a top university.</p>
        <p><a class="btn btn-primary btn-lg" href="/about_us" role="button" id="other_details">View Details &raquo;</a></p>
      </footer>
    </div>
    <div class="col-md-6" width="563.656">
      <img border="0" alt="B-Bay" src="img/World.png" class="BBayimg" height="300">
      <footer class="footer">
        <h2>Apply B-bay Program</h2>
        <p>Plan your future with us.</p>
        <p><a class="btn btn-primary btn-lg" href="/b_bay_apply" role="button" id="b_bay_details">View Details &raquo;</a></p>
      </footer>
    </div>
  </div>
  
</div> <!-- /container -->

<div class="text_container">
  <h3>Testimonials</h3>
  <hr>
  <br />
</div>

<div class="marquee"><div>
  <div class="col-xs-3">
    <h4>Wendy, 2015</h4>
    <p>"I very much enjoyed the various activities in most of the lectures because that gave us a heads-on experience with concepts being learned. It made learning the business curriculum more fun and encouraging." </p>
  </div>
  <div class="col-xs-3">
    <h4>Ben, 2015</h4>
    <p>"I felt very lucky to have interacted with a group of prestigious and successful professors. They were not only excellent speakers and experienced teachers, but also very patient individuals"</p>
  </div>
  <div class="col-xs-3">
    <h4>Rada, 2015</h4>
    <p>"I have enjoyed all the lectures given by the professors and have achieved my goal of learning more about the business world. . . . Working on our business plan with our team members not only allowed me to gain knowledge about writing a business plan, but enabled me to work with others cohesively has a team" </p>
  </div>
  <div class="col-xs-3">
    <h4>Viki, 2015</h4>
    <p>"This wonderful program, that was fun and also very educational, provided our child with a maturing experience and the opportunity to better understand the business world." </p>
  </div>
  <!--<div class="col-xs-3">-->
  <!--  <h4>A Parent, 2015</h4>-->
  <!--  <p>"We expected our son to have an understanding or an overview of the basics of business, but given that there were only two weeks we weren't expecting him to be a businessman. You guys really ignited his interest in business" </p>-->
  <!--</div>-->
  </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>coming soon...</h2>
