<% #  This file is app/views/homepage/index.html.haml %>

<!--Title of Home page-->
<title>Harmony Plus Home</title>

<link rel="stylesheet" type="text/css" href="/CSS/index.css">


<div id="top" class="opening">
    <div class="container">
        <h1>为未来点亮一盏明灯 伴你前行</h1>
        <p>信任托付 悉心呵护</p>
        <p><a class="btn btn-primary btn-lg" href="/about_us" role="button">更多信息</a></p>
    </div>
</div>

<br /><br /><br />

<div class="text_container">
  <h3>关于我们</h3>
  <hr>
  <br />
  <p>深耕硅谷，基于超数字时代技术，创造出具备卓越价值与解决方案的教育体系：Harmony Plus 国际教育为中国青少年
    一步步铺就通往美国名校之路。</p>
  <p>和我们一起，以焕然一新的活力、竞争力和发展力，在美国名校的平台腾飞。</p>
</div>

<br /><br /><br /><br /><br /><br />

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6" width="563.656">
      <img border="0" alt="Other Thing" src="/img/homepage/Campus.png" class="worldimg" height="300">
      <footer class="footer">
        <h2>夏季课程</h2>
        <p>世界顶尖大学校园暑期浸入式学习</p>
        <p><a class="btn btn-primary btn-lg" href="/summer_academy" role="button" id="other_details">详细信息</a></p>
      </footer>
    </div>
    <div class="col-md-6" width="563.656">
      <img border="0" alt="B-Bay" src="/img/homepage/1.png" class="BBayimg" height="300">
      <footer class="footer">
        <h2>未来规划</h2>
        <p>留美全程一站式辅导服务</p>
        <p><a class="btn btn-primary btn-lg" href="/future_planning" role="button" id="b_bay_details">详细信息</a></p>
      </footer>
    </div>
  </div>
  
</div> <!-- /container -->
<br></br><br></br><br></br><br></br>
<div class="text_container">
  <h3>故事分享</h3>
  <hr>
  <br></br>
  <p>在这里，读他们的故事，让我们一同感受每一步足迹，每一次成长。</p>
  <br></br><br>
</div>
<body>
  <div class="marquee">
    <div class="col-md-4">
      <div class="image">
          <img src="img/homepage/2.png" alt="" align="middle" width="350" height="180"/>
      </div><br>
      <h4>他的蜕变，我亲眼所见</h4>
      <h5>我和硅谷少年商学院的故事</h5><br>
      <p class="story">缺乏自制力，无法表达自我的Ben第一次身处地球的另一半，遇到了巨大的困难和挑战。而两周的B-bay课程结束之后，他向妈妈表达了想提前来美国留学，以常春藤大学为目标的愿望。现在的他已经在加州高中读书，承担起了照顾自己的责任。是什么让Ben在短短两周里发生了这样的变化？ </p>
    </div>
    
    <div class="col-md-4">
      <div class="image">
          <img src="img/homepage/3.png" alt="" align="middle" width="350" height="180"/>
      </div><br>
      <h4>Leader，脱颖而出</h4>
      <h5>我和硅谷少年商学院的故事</h5>
      <br>
      <p class="story">为什么一个英语并不优秀，对美国还不熟悉的高中生获得了“Father”的称号？什么样的软技能是美国大学最看重的特质？看看Dan如何以自信、开朗、乐于助人的品质，展现自己的闪光点，获得大家的认同。</p>
    </div>
    
    <div class="col-md-4">
      <div class="image">
          <img src="img/homepage/4.png" alt="" align="middle" width="350" height="180"/>
      </div><br>
      <h4>惊艳伯克利</h4>
      <h5>我和硅谷少年商学院的故事</h5><br>
      <p class="story">一个独立、安静、学业优秀的女孩，在伯克利这样的舞台挥洒自如，不仅证明了自己的学习能力，还增进了团队协作意识，为将来申请顶尖名校补上了重要的一环。她是如何在伯克利这样的舞台发挥优势，弥补短板的？</p>
    </div>
  </div>
  <br></br>
  <br></br>
  <br></br>
  <div class="marquee">
    <div class="col-md-4">
      <div class="image">
          <img src="img/homepage/5.png" alt="" align="middle" width="350" height="180"/>
      </div><br>
      <h4>既是教授，更是明星</h4>
      <h5>我和硅谷少年商学院的故事</h5><br>
      <p class="story">为BBAY授课的教授都是响当当的大牌教授。例如为大家讲授金融、商业法律的Gregory LaBlanc教授是少有的既精通金融又熟知法律的顶尖教授。不仅如此，他的课生动幽默，充满了阵阵欢笑。让我们来看看他的问候吧~</p>
    </div>
    
    <div class="col-md-4">
      <div class="image">
          <img src="img/homepage/6.png" alt="" align="middle" width="350" height="180"/>
      </div><br>
      <h4>捷足先登</h4>
      <h5>Maggie和硅谷少年商学院的故事</h5><br>
      <p class="story">Maggie流利的英语，西式的表达，丝毫看不出这是个深圳长大的孩子。作为团队的主力，CherryBlossom Academy的美女CEO，她带领团队，一起设计了一所更人性化，更加温馨，更能够激发学生们潜质的学校。教育改革与创新，也许就在孩子的头脑风暴中。</p>
    </div>
    
    <div class="col-md-4">
      <div class="image">
          <img src="img/homepage/7.png" alt="" align="middle" width="350" height="180"/>
      </div><br>
      <h4>斯坦福妈妈分享纪实</h4>
      <h5>我们只是孩子成长路上的喝彩者</h5><br>
      <p class="story">徐教授是斯坦福医学院高级研究员，还是一位育儿有方的妈妈，长女品学兼优、艺术出色、体育尤为突出，拿到了UC Berkeley以及Stanford的录取通知书，最终选择了Stanford并将生物医学工程当做自己未来专业。从明星教授到育儿有方的妈妈，徐教授为我们分享了她的育儿智慧和心得。</p>
    </div>
  </div>
  <br></br>
  <a class="btn btn-primary btn-lg story_button" href="/stories" role="button">More Stories</a>
</div>
<br></br><br></br>

<script>
    $(function () {
        document.getElementById("home").style.color = "#53AA8E";
        $('#home').text("首页");
        $('#fp').text("未来规划");
        $('#sa').text("夏季课程");
        $('#story').text("故事分享");
        $('#au').text("关于我们");
        $('#contact').text("联系方式");
        $('#language').text('English');
        var home = "<a id='language' href='/'>English</a>"
        $('#language').html(home);
    })
</script>

