<% #  This file is app/views/homepage/index.html.haml %>

<!--Title of Home page-->
<title>Harmony Plus Home</title>

<link rel="stylesheet" type="text/css" href="CSS/index.css">

<div class="opening">
    <div class="container">
        <h1>HARMONY PLUS</h1>
        <p>This is the Home Page! Other text here.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="special_links">
    <%= link_to 'LOG IN', '/users/sign_in' %>
    <%= link_to 'Apply B-bay Program', b_bay_apply_path %>
</div>
<h2>coming soon...</h2>
