<% #  This file is app/views/homepage/index.html.haml %>

<!--Title of Home page-->
<title>Harmony Plus Home</title>

<h1>HARMONY PLUS</h1>
<link rel="stylesheet" type="text/css" href="CSS/index.css">
<div class="special_links">
    <%= link_to 'LOG IN', '/users/sign_in' %>
    <%= link_to 'Apply B-bay Program', b_bay_apply_path %>
</div>
<h2>coming soon...</h2>
