<% #  This file is app/views/homepage/index.html.haml %>

<!--Title of Home page-->
<title>Harmony Plus Home</title>

<link rel="stylesheet" type="text/css" href="CSS/index.css">

<div id="top" class="opening">
    <div class="container">
        <h1>HARMONY PLUS</h1>
        <p>This is the Home Page! Other text here.</p>
        <p><a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<br />

<div class="special_links">
    <!--<p><a class="btn btn-primary btn-lg" href="/login" role="button">Log In &raquo;</a></p>-->
    <p><a class="btn btn-primary btn-lg" href="/users/sign_out" role="button">Sign Out &raquo;</a></p>
</div>
<br />

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <img border="0" alt="Other Thing" src="img/Campus.png" class="worldimg" height="300">
      <footer class="footer">
          <h2>Apply the other thing</h2>
          <p>Also Apply Here </p>
          <p><a class="btn btn-primary btn-lg" href="/about_us" role="button">View Details &raquo;</a></p>
      </footer>
    </div>
    <div class="col-md-6">
      <img border="0" alt="B-Bay" src="img/World.png" class="BBayimg" height="300">
      <footer class="footer">
          <h2>Apply B-bay Program</h2>
          <p>Apply here or whatever </p>
          <p><a class="btn btn-primary btn-lg" href="/b_bay_apply" role="button">View Details &raquo;</a></p>
      </footer>
   </div>
  </div>

  <hr>
  <p class="special_text">HARMONY PLUS</p>
</div> <!-- /container -->


<h2>coming soon...</h2>
