<!--#include file="app/views/layouts.html.erb"-->
<title>Harmony Plus Summer Acadamy</title>

<head>
<link rel="stylesheet" type="text/css" href="CSS/summerAcademy.css">
</head>


<div class="opening">
    <div class="container">
        <div class="text">
            <h1>UC BERKELEY 硅谷少年商学院</h1><br/>
            <p>世界顶尖大学校园暑期浸入式学习</p><br/>
            <form action="" style="display:inline">
                <a class="btn btn-primary btn-lg" href="/details" role="button">详情</a>
                <!--<a class="btn btn-primary btn-lg" href="/applyb/b_bay_apply" role="button">Apply</a>-->
            </form>
        </div>
        
    </div>
</div>

<div class="top_container"> 
    <div class='info1'>
        <div class="info1_left">
            <h2>UC BERKELEY 硅谷少年商学院</h2>
            <hr>
            <p><br>UC Berkeley 硅谷少年商学院是国内首例由真正的世界顶尖商学院打造，全浸入式体验学习美式教育精髓，在短短的两周内让学生在领导力、适应力、团队合作及视野开拓等多方面迅速提升的项目。</p>
            <hr>
            <br>
            <h3>课程收益</h3>
            <hr>
            <p><br>获得加州大学伯克利官方结业证书</p>
            <p>升学秘籍伯克利招生官面对面辅导</p>
            <p>大学申请伯克利教授亲笔推荐信</p>
            <p>伯克利教授辅导新版SAT考试</p>
            <p>入住伯克利公寓</p>
            <p>伯克利明星教授亲自执教</p>
            <p>优秀学生授予Gold Bear奖学金</p>
            <hr>
        </div>
        <div class="info1_right">
            <div class="videos">
                <a href="http://v.qq.com/page/d/n/1/d0189aezsn1.html"><img src="img/summerAcademy/video1.png" style="width:33%;height:33%;"><p>Gregory教授欢迎B-BAY中国学生</p></a>
                <br>
                <a href="http://v.qq.com/boke/page/x/r/e/x0187hekcre.html"><img src="img/summerAcademy/video2.png" style="width:33%;height:33%;"><p>UC Berkeley硅谷少年商学院2015年回顾</p></a>
                <br>
                <a href="http://v.qq.com/boke/page/o/4/y/o01872mhz4y.html"><img src="img/summerAcademy/video3.png" style="width:33%;height:33%;"><p>加州大学伯克利哈斯商学院Dana Carne教授授课</p></a>
                <br>
            </div>
        </div>
    </div>
    <div class="info2">
        <div class="info2_left">
            <br>
            <h4>B-BAY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary btn-lg" href="/details" role="button">详情</a></h4>
            <h5>在全球顶尖商学院学习，提升软实力<a class="btn btn-primary btn-lg" href="/applyb/b_bay_apply" role="button">申请</a></h5>
            <hr>
            <p><br>与美国、加拿大学生共同学习和生活，感受美式教育精髓</p><br>
            <p>UC Berkeley加州伯克利哈斯商学院运营第9年</p><br>
            <p>TOP10商学院里唯一专为青少年定制的商业课程</p>
            <hr>
        </div>
        <div class="info2_right">
            <div class="b-bay_time">
                <form action="" style="display:inline">
                    <img border="0" alt="s" align="left" src="img/summerAcademy/time.png" width="20" height="20">
                    <p>&nbsp;&nbsp;2016.7.31-8.13</p>
                </form>
                <form action="" style="display:inline">
                    <img border="0" alt="s" align="left" src="img/summerAcademy/location.png" width="20" height="26.4">
                    <p>&nbsp;&nbsp;UCBerkeley校园</p>
                </form>
                <form action="" style="display:inline">
                    <img border="0" alt="s" align="left" src="img/summerAcademy/people.png" width="20" height="20">
                    <p>&nbsp;&nbsp;中国初三及以上中学生，</p>
                </form>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美国、加拿大8年级及以上中学生</p>

                <form action="" style="display:inline">
                    <img border="0" alt="s" align="left" src="img/summerAcademy/price.png" width="20" height="20">
                    <p>&nbsp;&nbsp;8960美元</p>
                </form>
            </div>
        </div>
    </div>
    <div class="info3">
        <div class="info3_left">
            <br><br><br>
            <h6>IDEAL  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary btn-lg" href="/details" role="button">详情</a></h6>
            <h7>亲历世界顶级大学学习，享受硅谷科技浪潮浸润 <a class="btn btn-primary btn-lg" href="/ideal_apply" role="button">申请</a></h7>
            <hr>
            <p><br>IDEAL硅谷少年商学院独设寓教于乐生活、学习，游历360度全面体验美国名校之旅。</p><br>
            <p>UC Berkeley教授亲自授课IDEAL硅谷少年商学院课程(一周)</p><br>
            <p>美国旧金山湾区游览，参观硅谷世界名企，特设社区义工服务（一周）</p>
            <hr>
            <br>
        </div>
        <div class="info3_right">
            <div class="ideal_time">
                <form action="" style="display:inline">
                    <img border="0" alt="s" align="left" src="img/summerAcademy/time.png" width="20" height="20">
                    <p>&nbsp;&nbsp;2016.7.24-8.06</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016.7.31-8.13</p>
                </form>
                <form action="" style="display:inline">
                    <img border="0" alt="s" align="left" src="img/summerAcademy/location.png" width="20" height="26.4">
                    <p>&nbsp;&nbsp;Silicon Valley, San Francisco,</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UCBerkeley校园</p>
                </form>
                <form action="" style="display:inline">
                    <img border="0" alt="s" align="left" src="img/summerAcademy/people.png" width="20" height="20">
                    <p> &nbsp;&nbsp;中国初三及以上中学生，</p>
                </form>
                <form action="" style="display:inline">
                    <img border="0" alt="s" align="left" src="img/summerAcademy/price.png" width="20" height="20">
                    <p>&nbsp;&nbsp;8960 US dollars</p>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="center_bottom">
    <p>Harmony Plus国际教育机构</p>
    <form action="" style="display:inline">
        <h8>UC Berkeley 商学院</h8>
        <h10>全球独家合作伙伴</h10>
    </form>
    <hr>
    <br>
    <br>
    <p class="chinese">Harmony Plus国际教育由赵威博士等在美国创立，</p>
    <p class="chinese">是UC Berkeley等世界顶级大学的官方合作伙伴，是HAAS商学院“暑期少年商学院”项目的独家定制伙伴。</p>
    <p class="chinese">HarmonyPlus国际教育依托伯克利、斯坦福等名校的资深招生官、高管、教授为核心顾问团队，以Future Planning为主线，</p>
    <p class="chinese">通过配套学习、硅谷实习、美国义工等方式，帮助志在留学美国的青少年，</p>
    <p class="chinese">使他们达到美国名校标准，使他们更有活力、学习力、发展力和竞争力，让美国名校成为他们腾飞的平台。</p>
</div>

<div class="bottom_container">
    <div class="bottom_left">
        <p class="chinese">加州大学伯克利</p>
        <p class="chinese">是美国历史最悠久的大学之一，位于旧金山湾区，</p>
        <p class="chinese">其许多科系位列全球大学排行前十名，</p>
        <p class="chinese">在过去的十年也连续《华盛顿月刊》</p>
        <p class="chinese">及《美国新闻与世界报道》评为全美公立大学第一位。</p>
        <p class="chinese">2016年USNEWS全球综合排名第三位。</p>
    </div>
    
    <div class="bottom_right">
        <p class="chinese">加州大学伯克利Haas商学院</p>
        <p class="chinese">University of California –Berkeley，</p>
        <p class="chinese">Haas School of Business从1898年建校以来一直都是</p>
        <p class="chinese">美国MBA教育的领导者之一。</p>
        <p class="chinese">2015年USNEWS评为全美TOP3商学院。</p>
    </div>
</div>



<div class="bottom_images">
    <form action="" style="display:inline">
        <div class="first_line">
            <div class="photo">
                <div class="image">
                    <img src="img/summerAcademy/image1.png" alt="" align="middle" width="300" height="250"/>
                    <h9 class="chineseh9">加州大学<h11>伯克利</h11></h9>
                </div>
            </div>
            <div class="photo">
                <div class="image">
                    <img src="img/summerAcademy/image2.png" alt="" align="middle" width="300" height="250"/>
                    <h9 class="chineseh9">伯克利教授<h11>亲自执教</h11></h9>
                </div>
            </div>
            <div class="photo">
                <div class="image">
                    <img src="img/summerAcademy/image3.png" alt="" align="middle" width="300" height="250"/>
                    <h9 class="chineseh9">创新<h11>企业参访</h11></h9>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="bottom_images2">
    <form action="" style="display:inline">  
        <div class="second_line">
            <div class="photo2">
                <div class="image">
                    <img src="img/summerAcademy/image4.png" alt="" align="middle" width="300" height="250"/>
                    <h9 class="chineseh9">毕业见证<br/><h11>获得伯克利证书</h11></h9>
                </div>
            </div>
            <div class="photo2">
                <div class="image">
                    <img src="img/summerAcademy/image5.png" alt="" align="middle" width="300" height="250"/>
                    <h9 class="chineseh9">入住伯克利公寓<br><h11>执行封闭管理</h11></h9>
                </div>
            </div>
            <div class="photo2">
                <div class="image">
                    <img src="img/summerAcademy/image6.png" alt="" align="middle" width="300" height="250"/>
                    <h9 class="chineseh9">伯克利<h11>学生食堂</h11></h9>
                </div>
            </div>
        </div>
    </form>    
</div>


<script>
    $(function () {

        var fp = "<a id='fp' href='/cn_future_planning'>未来规划</a>";
        $('#fp').html(fp)
        
        var story = "<a id='story' href='/cn_stories'>故事分享</a>";
        $('#story').html(story)

        var english = "<a id='language' href='/'>English</a>";
        $('#language').html(english);
        
        
        var summer_academy = "<a id='sa' href='/cn_summer_academy' style='color:#53AA8E'>夏季课程</a>";
        $('#sa').html(summer_academy);
        
        var homepage = "<a id='home' href='/cn_index'>首页</a>"
        $('#home').html(homepage);
        
        var contact = "<a id='contact' href='/cn_contact'>联系方式</a>";
        $('#contact').html(contact)
        
        var au = "<a id='au' href='/cn_about_us'>关于我们</a>";
        $('#au').html(au)
    })
</script>