<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/summerAcademy.css">
</head>


<div class="opening">
    <div class="container">
        <div class="text">
            <h1>Sillicon Valley Business School for Teenagers</h1>
            <p>immersive summer program in world renowned university</p>
            <form action="" style="display:inline">
                <a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a>
                <a class="btn btn-primary btn-lg" href="/applyb/b_bay_apply" role="button">Apply &raquo;</a>
            </form>
        </div>
        
    </div>
</div>

<div class="left">
    <div class='info'>
        <h2>UC Berkeley Silicon Valley Business School</h2>
        <hr>
        <p>UC Berkeley Silicon Valley Business School for Teenagers is the first immersive program tailored by a top business school, that is currently recruiting in China. 
        Over the course of two weeks, students will engage in activities that will drastically improve in their ability to lead, adapt and collaborate. </p>
        <hr>
        <br>
        <h3>Course Benefits</h3>
        <hr>
        <p>Certification from the University of California Berkeley</p>
        <p>One on one university application counselling</p>
        <p>Letter of recommendations written by UCB professors</p>
        <p>SAT prepping taught by UCB Professors</p>
        <p>Accommodation on campus</p>
        <p>Instructed by UCB star faculties</p>
        <p>An outstanding student will be awarded the Gold Bear Scholarship</p>
        <hr>
        <br>
        <h4>B-BAY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a></h4>
        <h5>Enroll in world renowned Business school, develop soft skills <a class="btn btn-primary btn-lg" href="/applyb/b_bay_apply" role="button">Apply &raquo;</a></h5>
        <hr>
        <p>Share classrooms and dormitories with local students.  Receive First-hand American education experience.</p>
        <p>9th year operated by UC Berkeley Haas School of Business. </p>
        <p>The only business program tailored for teenagers from a Top 10 business school.</p>
        <hr>
        <br>
        <h6>IDEAL  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a></h6>
        <h7>Study in a well respected university. Immerse in silicon valley Innovative atmosphere <a class="btn btn-primary btn-lg" href="/applyb/b_bay_apply" role="button">Apply &raquo;</a></h7>
        <hr>
        <p>IDEAL Silicon Valley Business Program for Teenagers focuses on providing students with a fun and educational experience. It offers a comprehensive tour on well respected US universities. </p>
        <p>IDEAL Silicon Valley Business Program for Teenagers will be instructed by UC Berkeley professors.</p>
        <p>Sightseeing San Francisco, visiting famous enterprises in Silicon Valley, volunteering in local community (one week)</p>
        <hr>
        <br>
   </div>
</div>

<div class="right">
    <div class="videos">
        <!--<iframe frameborder="1" width="420" height="315" src="//v.qq.com/boke/page/o/4/y/o01872mhz4y.html"><img src="img/summerAcademy/video2.png" style="width:420px;height:315px;"></iframe>-->
        <a href="http://v.qq.com/page/d/n/1/d0189aezsn1.html"><img src="img/summerAcademy/video1.png" style="width:60%;height:60%;"><p>Professor Gregory welcomes B-Bay<br />Chinese international students</p></a>
        <br>
        <a href="http://v.qq.com/boke/page/o/4/y/o01872mhz4y.html"><img src="img/summerAcademy/video2.png" style="width:60%;height:60%;"><p>Retrospect of UC Berkeley Silicon<br /> Valley Business School for Teenagers, 2015</p></a>
        <br>
        <a href="http://v.qq.com/page/d/n/1/d0189aezsn1.html"><img src="img/summerAcademy/video3.png" style="width:60%;height:60%;"><p>Professor Dana Carne's class in Haas School<br /> of Business, University of California Berkeley</p></a>
        <br>
        <br>
    </div>
    <div class="b-bay_time">
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/time.png" width="24" height="24">
            <p>&nbsp;&nbsp;2016.7.31-8.13</p>
        </form>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/location.png" width="24" height="24">
            <p>&nbsp;&nbsp;UC Berkeley Campus</p>
        </form>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/people.png" width="24" height="24">
            <p>&nbsp;&nbsp;Chinese student in 9th grade and above</p>
        </form>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canadian an and American students</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in 8th grade and above</p>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/price.png" width="24" height="24">
            <p>&nbsp;&nbsp;8960 US dollars</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>
    <div class="ideal_time">
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/time.png" width="24" height="24">
            <p>&nbsp;&nbsp;2016.7.24-8.06</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016.7.31-8.13</p>
        </form>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/location.png" width="24" height="24">
            <p>&nbsp;&nbsp;Silicon Valley, San Francisco,</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Berkeley Campus </p>
        </form>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/people.png" width="24" height="24">
            <p> &nbsp;&nbsp;Chinese student in 8th grade and above</p>
        </form>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/price.png" width="24" height="24">
            <p>&nbsp;&nbsp;8960 US dollars</p>
        </form>
    </div>
</div>

<div class="center_bottom">
    <p>Harmoney Plus International Education Institute</p>
    <form action="" style="display:inline">
        <h8>UC Berkeley Haas School of Business </h8>
        <h10>Worldwide Exclusive Partner</h10>
    </form>
    <hr>
    <br>
    <br>
    <p>Harmony Plus International Education Institute, founded by Professor Wei Zhao in United States, </p>
    <p>is the official partner of world renowned universities such as UC Berkeley and the exclusive joint curriculum designer of the B-Bay program.</p>
    <p>The Harmony Plus team is composed of senior admission officers and managing professors from UC Berkeley, Stanford, and other well respected institutions. </p>
    <p>By providing students with internships and volunteering opportunities, it aims to invigorate their learning capacity, competitiveness, and the will for self betterment.</p>
    <p>Through ambitious and careful future planning, Harmony plus has the ability to provide students ,who aspire to study in the United States, a platform to thrive. </p>
</div>

<!--<div class="bottom_left">-->
<!--    <p>University of California, Berkeley</p>-->
<!--    <p>Located in San Francisco Bay Area, University of California Berkeley is one of the most historic universities in the united states</p>-->
<!--    <p>Many of its departments have been consistently ranked in top 10</p>-->
<!--    <p>For the past 10 years, it has been consecutively ranked as the best public university by the Washington Post and US News and World Report.</p>-->
<!--    <p>Ranked 3rd in World University Ranking by US News.</p>-->
<!--</div>-->

<!--<div class="bottom_right">-->
<!--    <p>Haas School of Business, University of California, Berkeley</p>-->
<!--    <p>Ever since its founding, Haas School of Business has always been one of the leading pioneers of MBA education</p>-->
<!--    <p>Ranked 3rd in United States MBA Programs by USNEWS</p>-->
<!--</div>-->

<div class="bottom_left_right">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;University of California, Berkeley &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Haas School of Business, University of California, Berkeley</p>
    <p>Located in San Francisco Bay Area, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ever since its founding,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>University of California Berkeley is one of the most historic universities &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Haas School of Business has always been one of the leading pioneers of</p>
    <p>&nbsp;in the united states &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MBA education</p>
    <p>For the past 10 years, it has been consecutively ranked as the &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ranked 3rd in United States MBA Programs by USNEWS</p>
    <p>best public university by the Washington Post and US News and World Report. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>Ranked 3rd in World University Ranking by US News. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</div>

<div class="bottom_images">
    <form action="" style="display:inline">
        <div class="first_line">
            <div class="photo">
                <div class="image">
                    <img src="img/summerAcademy/image1.png" alt="" align="middle" width="300" height="250"/>
                    <h9>University of California, <h11>Berkeley</h11></h9>
                </div>
            </div>
            <div class="photo">
                <div class="image">
                    <img src="img/summerAcademy/image2.png" alt="" align="middle" width="300" height="250"/>
                    <h9>Instructed by <h11>UCB Professors</h11></h9>
                </div>
            </div>
            <div class="photo">
                <div class="image">
                    <img src="img/summerAcademy/image3.png" alt="" align="middle" width="300" height="250"/>
                    <h9>Company <h11>Visits</h11></h9>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="bottom_images2">
    <form action="" style="display:inline">  
        <div class="second_line">
            <div class="photo2">
                <div class="image">
                    <img src="img/summerAcademy/image4.png" alt="" align="middle" width="300" height="250"/>
                    <h9>Graduation Ceremony <br/><h11>Certification from the University of California Berkeley</h11></h9>
                </div>
            </div>
            <div class="photo2">
                <div class="image">
                    <img src="img/summerAcademy/image5.png" alt="" align="middle" width="300" height="250"/>
                    <h9>Accommodations in UCB Dormitories</h9>
                </div>
            </div>
            <div class="photo2">
                <div class="image">
                    <img src="img/summerAcademy/image6.png" alt="" align="middle" width="300" height="250"/>
                    <h9>UCB Student <h11>Dinning Hall</h11></h9>
                    
                </div>
            </div>
        </div>
        
    </form>    
</div>
