<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/summerAcademy.css">
</head>


<div class="opening">
    <div class="container">
        <h1>Sillicon Valley Business School for Teenagers</h1>
        <p>immersive summer program in world renowned university</p>
        <form action="" style="display:inline">
            <a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a>
            <a class="btn btn-primary btn-lg" href="/applyb/b_bay_apply" role="button">Apply &raquo;</a>
        </form>
    </div>
</div>

<div class="left">
    <div class='info'>
        <h2>UC Berkeley Silicon Valley Business School</h2>
        <hr>
        <p>UC Berkeley Silicon Valley Business School for Teenagers is the first immersive program tailored by a top business school, that is currently recruiting in China. 
        Over the course of two weeks, students will engage in activities that will drastically improve in their ability to lead, adapt and collaborate. </p>
        <hr>
        <p></p>
        <h3>Course Benefits</h3>
        <hr>
        <p>Certification from the University of California Berkeley</p>
        <p>One on one university application counselling</p>
        <p>Letter of recommendations written by UCB professors</p>
        <p>SAT prepping taught by UCB Professors</p>
        <p>Accommodation on campus</p>
        <p>Instructed by UCB star faculties</p>
        <p>An outstanding student will be awarded the Gold Bear Scholarship</p>
        <hr>
        <h4>B-BAY <a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a></h4>
        <h5>Enroll in world renowned Business school, develop soft skills <a class="btn btn-primary btn-lg" href="/applyb/b_bay_apply" role="button">Apply &raquo;</a></h5>
        <hr>
        <p>Share classrooms and dormitories with local students.  Receive First-hand American education experience.</p>
        <p>9th year operated by UC Berkeley Haas School of Business. </p>
        <p>The only business program tailored for teenagers from a Top 10 business school.</p>
        <hr>
        <h6>IDEAL <a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a></h6>
        <h7>Study in a well respected university. Immerse in silicon valley Innovative atmosphere <a class="btn btn-primary btn-lg" href="/applyb/b_bay_apply" role="button">Apply &raquo;</a></h7>
        <hr>
        <p>IDEAL Silicon Valley Business Program for Teenagers focuses on providing students with a fun and educational experience. It offers a comprehensive tour on well respected US universities. </p>
        <p>IDEAL Silicon Valley Business Program for Teenagers will be instructed by UC Berkeley professors.</p>
        <p>Sightseeing San Francisco, visiting famous enterprises in Silicon Valley, volunteering in local community (one week)</p>
        <hr>
   </div>
</div>

<div class="right">
    <div class="videos">
        <!--<iframe frameborder="1" width="420" height="315" src="//v.qq.com/boke/page/o/4/y/o01872mhz4y.html"><img src="img/summerAcademy/video2.png" style="width:420px;height:315px;"></iframe>-->
        <a href="//v.qq.com/boke/page/o/4/y/o01872mhz4y.html"><img src="img/summerAcademy/video2.png" style="width:420px;height:315px;"><p>Gregproy教授欢迎B-Bay中国留学生</p></a>
        <br>
        <a href="//v.qq.com/page/d/n/1/d0189aezsn1.html"><img src="img/summerAcademy/video3.png" style="width:420px;height:315px;"><p>Gregproy教授欢迎B-Bay中国留学生</p></a>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="b-bay_time">
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/time.png" width="24" height="24">
            <p>       2016.7.31-8.13</p>
        </form>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/location.png" width="24" height="24">
            <p>       UC Berkeley Campus</p>
        </form>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/people.png" width="24" height="24">
            <p>       Chinese student in 9th grade and above</p>
        </form>
        <p>   Canadian an and American students in 8th grade and above</p>
        <form action="" style="display:inline">
            <img border="0" alt="s" align="left" src="img/summerAcademy/price.png" width="24" height="24">
            <p>       8960 US dollars</p>
        </form>
    </div>
</div>