<nav id="transparent-nav" class="header">
    <a href="/">
        <svg viewBox="0 0 137 32" class="logo">
            <!--Potentially Fix this-->
            <use xmlns:xlink="http://harmony-plus.herokuapp.com/" xlink:href="/img/logo.png#logo"></use>
        </svg>
    </a>
    <div class="links">
        <a href="future_planing">Future Planning</a>
        <a href="summer_academy">Summer Academy</a>
        <a href="stories">Stories</a>
        <a href="about">About Us</a>
        <a href="contact">Contact</a>
   <!--     <a class="apply-button" href="programs">Apply-->
			<!--<span class="arrow-wrapp">-->
			<!--	<svg viewBox="0 0 76 32" class="apply-arrow icon-xs">-->
   <!--                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/icons/icons.svg#arrow"></use>-->
   <!--             </svg>-->
			<!--</span>-->
   <!--     </a>-->
    </div>
    <!--<a class="mobile-menu" href="#">-->
    <!--    <svg viewBox="0 0 44 32" class="menu-icon">-->
    <!--        <use xmlns:xlink="http://harmony-plus.herokuapp.com/" xlink:href="/img/logo.png#menu"></use>-->
    <!--    </svg>-->
    <!--</a>-->
</nav>