<title>stories of us</title>
<head>
<link rel="stylesheet" type="text/css" href="CSS/stories.css">
</head>

<body>
    <br>
    <div class="image">
        <img src="img/stories/maggie.jpg" alt="" align="middle" width="300" height="200"/>
    </div>
    <br>
    <h2> (IV) Story of Anna</h2>
    
    <p>
       We have been in Berkeley for two weeks.Because my English is not good,in fact i am very scared before coming to a full English course,but after though with the help of my teachers and 
       classmates also witnessed my progress. Taught to teach us,i had never had any concept for business school.After learning the simple 
       study,i find it very interesting to know more about the business model of knowledge. Spare time is also very interesting.We went to Google and Google’s staffs answered our questions.
        In conclusion,all the teachers are responsible and i get along well with the students here.
        B-BAY is really a good program,and thanks all my teachers.
        Maggie Yan.
    </p>
    
    <br/><br/>
    
    <div class="image">
        <img src="img/stories/kevin.jpg" alt="" align="middle" width="300" height="200"/>
    </div>
    <br>
    <h2> (V) Story of Kevin</h2>
    <p>
        B-Bay has given me the opportunity to teach and communicate with middle high school
        students.For the past 14 days,i have learned how to use complex ideas into simple one and how
        to encourage students when they encounter challenges.I had also been spending a lot of time
        with them outside of class.The language barrier was temporary and i want to do my best to help
        these students rise their their challenge.I am glad i have participated in the B-BAY program.
        Kevin
    </p>
    <br/><br/><br/><br/>
    <a class="btn story-btn-primary btn-lg" href="/stories" role="button">Back</a>
    <br><br><br><br>
</body>