<title>stories of us</title>
<head>
<link rel="stylesheet" type="text/css" href="CSS/cn_stories.css">

</head>

<div class="title">
    <h1>故 事&nbsp;<h2>分 享</h2></h1>
    <br>
    <hr><br>
    <p>在这里，读他们的故事，让我们感受每一步足迹，每一次成长。</p>
</div>
<div class="container">
<div class="pictures">
    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwMjU0OTc1OA==&mid=403113561&idx=1&sn=4272c32d2e98fbd74cb4f0d108f4a0aa#rd"><img src="img/stories/1.png" style="width:30%;"></a>   
    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwMjU0OTc1OA==&mid=403412863&idx=1&sn=4fa8108cf654096b56a2f01f5a1d2ed0#rd"><img src="img/stories/2.png" style="width:30%;"></a>
    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwMjU0OTc1OA==&mid=403476501&idx=1&sn=000b24c541f4434b51bab9448e7434ec#rd"><img src="img/stories/3.png" style="width:30%;"></a>
</div>

<div class="pictures">
    <div class="onepic">
    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwMjU0OTc1OA==&mid=403589053&idx=1&sn=f41d6ec0b239466931c8661605475c42#rd"><img src="img/stories/4.png" style="width:30%;"></a>   
    </div>
    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwMjU0OTc1OA==&mid=403622639&idx=1&sn=2a20518bc1634c63df12bcbc9ddc58f1#rd"><img src="img/stories/5.png" style="width:30%;"></a>
    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwMjU0OTc1OA==&mid=404278556&idx=1&sn=6f2daef9152be4223800dc8a16f24235#rd"><img src="img/stories/6.png" style="width:30%;"></a>
</div>
</div>
<div class="empty">
    
</div>

<script>
    $(function () {

        var fp = "<a id='fp' href='/cn_future_planning'>未来规划</a>";
        $('#fp').html(fp)

        var story = "<a id='story' href='/cn_stories' style='color:#53AA8E'>故事分享</a>";
        $('#story').html(story)

        var english = "<a id='language' href='/'>English</a>";
        $('#language').html(english);
        
        
        var summer_academy = "<a id='sa' href='/cn_summer_academy'>夏季课程</a>";
        $('#sa').html(summer_academy);
        
        var homepage = "<a id='home' href='/cn_index'>首页</a>"
        $('#home').html(homepage);
        
        var au = "<a id='au' href='/cn_about_us'>关于我们</a>";
        $('#au').html(au)
        
        var contact = "<a id='contact' href='/cn_contact'>联系方式</a>";
        $('#contact').html(contact)
        
    })
</script>




























<script>
    $(function () {

        var english = "<a id='language' href='/'>English</a>";
        $('#language').html(english);
        
        var summer_academy = "<a id='sa' href='/cn_summer_academy'>夏季课程</a>";
        $('#sa').html(summer_academy);
        
        var homepage = "<a id='home' href='/cn_index'>首页</a>"
        $('#home').html(homepage);
        
        var au = "<a id='au' href='/cn_about_us'>关于我们</a>";
        $('#au').html(au)
        
        var contact = "<a id='contact' href='/cn_contact'>联系方式</a>";
        $('#contact').html(contact)
        
        var fp = "<a id='fp' href='/cn_future_planning'>未来规划</a>";
        $('#fp').html(fp)
        
        var story = "<a id='story' href='/cn_stories' style='color:#53AA8E'>故事分享</a>";
        $('#story').html(story)
    })
</script>