<title>stories of us</title>
<head>
<link rel="stylesheet" type="text/css" href="CSS/stories.css">
</head>
<h1>Our stories in Haas Business School</h1>
<hr>
<h3> Nikki Liu </h3>
<br>
<br>

<body>
    <br>
    <div class="image">
        <img src="img/stories/Maggie.jpg" alt="" align="middle" width="300" height="200"/>
    </div>
    <br>
    <h2> (I) Story of Maggie</h2>
    
    <p>
        Actually this program is really cool,because i will start my first semester in America after this program.It is just like a camp that let me adapt in the life which filled by a new language.
        There is only 8 students,and we are divided into two groups,which is so cool.Everyone works in their team and helps each other.The lectures are challenging,but they help me and improve me a lot.Thus i learn a lot about Business and i believe it will help me in the future.
        The process of team work is kind of difficult.At first we know nothing about how to go on,but after these study for two weeks,our team members have a great improvement.Kevin,Tina and Nikki are always helping us,our peer leader and TA as well.All of them are friendly.
        Kristen toured us around the campus,and we knew more about California.We found that the mascot of this school is bear,and we learned more inside the life science building.The director of this program Olive was serious but nice person,and she also helped us a lot.
        Thanks B-BAY!
        Maggie Yan.
    </p>
    
    <br><br>
    
    <br>
    <div class="image">
        <img src="img/stories/Morgan_Ben.jpg" alt="" align="middle" width="300" height="200"/>
    </div>
    <br>
    <h2> (II) Story of Morgan</h2>
    <p>
        I feel very fun in the past fourteen days.Teachers and my classmates helped me a lot,which helped me learn more about how important team work is.
        In our team,we all have something we are good at and not good at,but we help each others.Because that we become together in the team.
        Berkeley is an interesting place,it is famous and there are lots of animals.
        In the past fourteen days,we met lots of professors,and they were really interesting and humorous ,but it was still hard for me to understand what they are talking about.
        In the past fourteen days, we had a lot of difficulties and problems,but we all solved them.
        May the force be with you.
        Morgan.Yang.
    </p>
    <br><br>
    
    <br>
    <div class="image">
        <img src="img/stories/JoJo.jpg" alt="" align="middle" width="200" height="250"/>
    </div>
    <br>
    <h2> (III) Story of JoJo</h2>
    <p>
        I really like this program’s field trip:SF,Google,ropes courses,six flags etc,and i also thought that all of the counselors(TA’s,RA’setc)were extremely supportive and interesting.I loved working in teams and had a lot of fun joking around and the breakfast and dinner was awesome.Studying hall is great,but i think it should end earlier so that we can get enough sleep&not start dozing off or feeling tired in the middle of lectures into chunks so that we can absorb it more easily.Another thing that i liked the dorms themselves and i really thought i learned a lot here at B-BAY.
        JOJO
    </p>
    <br><br>
    <a class="btn btn-primary btn-lg" href="/stories" role="button">More Stories</a>
    <br><br><br><br>
</body>