<!DOCTYPE html>
<%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
<html>
    <head>
        <!--Universal Site Favicon-->
        <link rel="shortcut icon" href="/img/Logos/favicon.png" />
        
        <!--Title of every page-->
        <!--<title>Harmony Plus</title>-->
        
        <!--Navbar CSS File-->
        <link rel="stylesheet" type="text/css" href="/CSS/Navbar.css">
        
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!--Bootstrap Javascript File-->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        
        <!--Devise CSS-->
        <link rel="stylesheet" type="text/css" href="/CSS/Devise.css">
        
        <%= csrf_meta_tags %>
    </head>
<body>
    <!--p class="notice"><!--%= notice %></p>-->
    <!--<p class="alert"><!--%= alert %></p>-->

    <nav id="transparent-nav" class="transparent-nav">
      <div class = "logo">
        <a href="/">
            <img border="0" alt="harmony_logo" src="/img/Logos/logo.png" class="theImage" width="134" height="46">
            <!--<div id="theImage" class="theImage"></div>-->
        </a>
      </div>
      <div class="links">
        <a href="/">HOME</a>
        <a href="future_planning">FUTURE PLANNING</a>
        <a href="summer_academy">SUMMER ACADEMY</a>
        <a href="stories">STORIES</a>
        <a href="about_us">ABOUT US</a>
        <a href="contact">CONTACT</a>
        <a class="btn btn-primary btn-lg btn-bar" href="/login" role="button">Log In &raquo;</a>
        <a href="/">
          <img border="0" alt="s" src="/img/apply/search.png" width="24" height="24">
        </a>
        <a href="/">简体中文</a>
      </div>
    </nav>

  <%= yield %>
  
    <footer class="footer">
      <div class="footer_container">
        <p class="text-muted">&copy;2016 Harmony Plus</p>
        <!--<a href="https://www.facebook.com/">-->
        <!--<img title="Facebook" alt="Facebook" src="/img/Footer/Facebook.png" class="footer_icon">-->
        <!--</a>-->
        <!--<a href="https://twitter.com/">-->
        <!--<img title="Twitter" alt="Twitter" src="/img/Footer/Twitter.png" class="footer_icon">-->
        <!--</a>-->
        <!--<a href="https://www.tumblr.com/">-->
        <!--<img title="Tumblr" alt="Tumblr" src="/img/Footer/Tumblr.png" class="footer_icon">-->
        <!--</a>-->
        <!--<a href="https://www.pinterest.com/">-->
        <!--<img title="Pintrest" alt="Pintrest" src="/img/Footer/Pintrest.png" class="footer_icon">-->
        <!--</a>-->
        <a href="#top" class="home_link">
      <img title="GoHome" alt="go_home" src="/img/Footer/footerLink.png" class="home_icon">
      </a>
      </div>
    </footer>

</body>
</html>